<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    <title>TDL</title>
</head>
<body>
<div class="wrapper">
    <span class = "TDL">TDL</span>
    <span class = "text-faded">'TDL'은 캘린더를 통해<br/>
		일정관리 및 디데이를 설정할 수 있는 사이트입니다.</span>
    <a class="btn btn-primary btn-xl js-scroll-trigger pch" role="button" href="#services">Getting started</a>

</div>
<script src="/js/bg.js"></script>
</body>
</html>